In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [22]:
data = pd.read_csv('AHouse.csv')

In [23]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [24]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [26]:
data['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [27]:
data = data[data['furnishingstatus'] !=  'semi-furnished']

In [28]:
data['furnishingstatus'].unique()

array(['furnished', 'unfurnished'], dtype=object)

In [29]:
data['furnishingstatus'] = data['furnishingstatus'].map({'furnished':0,'unfurnished':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\2150000277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['furnishingstatus'] = data['furnishingstatus'].map({'furnished':0,'unfurnished':1})

In [30]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,0
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,0
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,1855000,2990,2,1,1,no,no,no,no,no,1,no,1
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,1
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,1
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,0
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,1

In [31]:
data['mainroad'] = data['mainroad'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\901345386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mainroad'] = data['mainroad'].map({'yes':0,'no':1})

In [32]:
data['guestroom'] = data['guestroom'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\876323228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['guestroom'] = data['guestroom'].map({'yes':0,'no':1})

In [33]:
data['airconditioning'] = data['airconditioning'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\787689409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['airconditioning'] = data['airconditioning'].map({'yes':0,'no':1})

In [34]:
data['hotwaterheating'] = data['hotwaterheating'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\166789419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hotwaterheating'] = data['hotwaterheating'].map({'yes':0,'no':1})

In [35]:
data['prefarea'] = data['prefarea'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\703000289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['prefarea'] = data['prefarea'].map({'yes':0,'no':1})

In [36]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,0,1,no,1,0,2,0,0
1,12250000,8960,4,4,4,0,1,no,1,0,3,1,0
3,12215000,7500,4,2,2,0,1,yes,1,0,3,0,0
4,11410000,7420,4,1,2,0,0,yes,1,0,2,1,0
7,10150000,16200,5,3,2,0,1,no,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,1855000,2990,2,1,1,1,1,no,1,1,1,1,1
540,1820000,3000,2,1,1,0,1,yes,1,1,2,1,1
542,1750000,3620,2,1,1,0,1,no,1,1,0,1,1
543,1750000,2910,3,1,1,1,1,no,1,1,0,1,0
544,1750000,3850,3,1,2,0,1,no,1,1,0,1,1

In [37]:
data['basement'] = data['basement'].map({'yes':0,'no':1})

C:\Users\Dazzlingpc\AppData\Local\Temp\ipykernel_10256\3052956363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['basement'] = data['basement'].map({'yes':0,'no':1})

In [38]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,0,1,1,1,0,2,0,0
1,12250000,8960,4,4,4,0,1,1,1,0,3,1,0
3,12215000,7500,4,2,2,0,1,0,1,0,3,0,0
4,11410000,7420,4,1,2,0,0,0,1,0,2,1,0
7,10150000,16200,5,3,2,0,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,1855000,2990,2,1,1,1,1,1,1,1,1,1,1
540,1820000,3000,2,1,1,0,1,0,1,1,2,1,1
542,1750000,3620,2,1,1,0,1,1,1,1,0,1,1
543,1750000,2910,3,1,1,1,1,1,1,1,0,1,0
544,1750000,3850,3,1,2,0,1,1,1,1,0,1,1

In [40]:
X = data.iloc[:,:-1]

In [42]:
X

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,0,1,1,1,0,2,0
1,12250000,8960,4,4,4,0,1,1,1,0,3,1
3,12215000,7500,4,2,2,0,1,0,1,0,3,0
4,11410000,7420,4,1,2,0,0,0,1,0,2,1
7,10150000,16200,5,3,2,0,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
539,1855000,2990,2,1,1,1,1,1,1,1,1,1
540,1820000,3000,2,1,1,0,1,0,1,1,2,1
542,1750000,3620,2,1,1,0,1,1,1,1,0,1
543,1750000,2910,3,1,1,1,1,1,1,1,0,1
544,1750000,3850,3,1,2,0,1,1,1,1,0,1

In [43]:
y = data.iloc[:,-1]

In [44]:
y

0      0
1      0
3      0
4      0
7      1
      ..
539    1
540    1
542    1
543    0
544    1
Name: furnishingstatus, Length: 318, dtype: int64

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
from sklearn.linear_model import LinearRegression

In [87]:
 X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [88]:
from sklearn.preprocessing import StandardScaler

In [89]:
ss = StandardScaler()

In [90]:
X_train = ss.fit_transform(X_train)

In [91]:
X_train

array([[ 1.77987868, -0.09244814,  1.4045644 , ..., -1.38484953,
         0.42506278, -1.80554701],
       [-0.26337193, -0.68237139,  0.0981355 , ..., -1.38484953,
        -0.79842874, -1.80554701],
       [ 0.46769939, -0.03714284,  0.0981355 , ...,  0.72210011,
        -0.79842874,  0.55384878],
       ...,
       [ 0.29728649,  1.58514611,  0.0981355 , ..., -1.38484953,
         1.6485543 ,  0.55384878],
       [-0.87856248, -1.12481383, -1.20829339, ...,  0.72210011,
         0.42506278,  0.55384878],
       [ 0.29728649, -0.37819221,  1.4045644 , ..., -1.38484953,
        -0.79842874,  0.55384878]])

In [92]:
X_test = ss.fit_transform(X_test)

In [93]:
X_test

array([[ 0.68089414,  1.88356502,  0.06063391, ...,  0.69200668,
         1.46394895, -1.74311834],
       [-1.02983069, -0.70315977,  0.06063391, ...,  0.69200668,
        -0.76379945,  0.57368452],
       [ 1.6202185 ,  0.32030229,  0.06063391, ..., -1.44507276,
         1.46394895,  0.57368452],
       ...,
       [ 1.83886943,  0.95726708,  0.06063391, ..., -1.44507276,
         1.46394895,  0.57368452],
       [-0.52256055, -0.70315977, -1.21267813, ..., -1.44507276,
        -0.76379945,  0.57368452],
       [-0.83741788, -0.62974688, -1.21267813, ...,  0.69200668,
        -0.76379945,  0.57368452]])

In [94]:
model = LinearRegression()

In [95]:
model.fit(X_train,y_train)

LinearRegression()

In [101]:
lm = model.predict([[13300000,	7420,	4	,2,	3,	0,	1,	1,	1,	0	,2,	0]])

In [102]:
lm

array([-2054102.64510166])

In [98]:
model.score(X_test,y_test)*100

2.1793092037897477